    #container {
        display: grid;
        grid-template-columns: repeat(10, 60px);
        width: 600px;
        height: 600px;
        text-align: center;
    }

    #container div {
        width: 60px;
        height: 60px;
        user-select: none;
        display: inline-block;
        box-sizing: border-box;
    }

    #pipes {
        display: grid;
        grid-template-columns: repeat(3, 60px);
        text-align: center;
    }

    #pipes div {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        user-select: none;
    }

    .square {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        box-sizing: border-box;
    }

    .start {
        background: #28c713 !important;
    }

    .end {
        background: #c71313 !important;
    }

    .middle-end {
        border: 3px solid #a8ff07 !important;
        box-sizing: border-box;
    }

    .hidden-check {
        border: 1px solid #000 !important;
        background: white !important;
    }

    .cornerPipes {
        background: url('Pipes.png');
        background-position: -60px 0px; 
        background-size: 120px 240px; 
    }

    .straightPipes {
        background: url('Pipes.png');
        background-position: 0px 0px; 
        background-size: 120px 240px;
    }

    #Info {
        position: absolute; 
        left: 50%; 
        transform: translate(-50%);
    }