    #container {
        display: grid;
        grid-template-columns: repeat(10, 60px);
        width: 600px;
        height: 600px;
        text-align: center;
    }

    #container div {
        width: 60px;
        height: 60px;
        user-select: none;
        display: inline-block;
        box-sizing: border-box;
    }

    .contr {
        display: grid;
        width: 60px;
        height: 60px;
    }

    .plane {
        position: absolute;
        width: 60px;
        height: 60px;
        transition: all 1s linear;
        background-image: url('Planes.png');
        background-size: 240px 60px;
    }

    .farmland {
        background-color: #463319 !important;
        background-image: url('Desert1.png') !important;
        background-size: 64px 32px;
    }

    #Info {
        position: absolute; 
        left: 50%; 
        transform: translate(-50%);
    }